@using Munafasa.Models.Tables
@model IEnumerable<Client>
@{
    ViewData["Title"] = "Clients";
    ViewData["PageSlug"] = "Clients";
    ViewData["Back"] = "/Admin/Dashboard";
}



<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Clients</h5>
        <div class="header-elements">
            <a class="btn btn-success" asp-area="Admin" asp-controller="Client" asp-action="Upsert">Create Client</a>
        </div>
    </div>



    <table class="table datatable-show-all">
        <thead>
            <tr>
                <th>Image</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Contract</th>
                <th>Address</th>
                <th>Building</th>
                <th>Created At</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.ProfileImage" width="50px" height="50px" />
                    </td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.Contract.ContractNumber</td>
                    <td>@item.Addresss</td>
                    <td>
                        <span style="display:block">Building: @item.Building</span>
                        <span style="display:block">Floor: @item.Floor</span>
                        <span style="display:block">Apartment: @item.Apartment</span>
                    </td>

                    <td>@item.CreatedAt.ToString("MM/dd/yyyy")</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a asp-area="Admin" asp-action="Upsert" asp-route-ownerId="@item.Id" class="dropdown-item"><i class="icon-pencil5"></i> Edit</a>
                                    <a asp-action="Delete" asp-route-ownerId="@item.Id" class="dropdown-item"><i class="icon-trash"></i> Remove</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>




<partial name="_DatatableResponsive" />
