@using Munafasa.Models.Tables
@model IEnumerable<Technician>
@{
    ViewData["Title"] = "Technicians";
    ViewData["PageSlug"] = "Service";
    ViewData["Back"] = "/Admin/Service";
}



<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Technicians</h5>
        <div class="header-elements">
            <a class="btn btn-success" asp-area="Admin" asp-controller="Technician" asp-action="Upsert">Create Technician</a>
        </div>
    </div>



    <table class="table datatable-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>User Name</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Join Date</th>
                <th class="text-center">Services</th>
                <th class="text-center">Requests</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-area="Admin" asp-action="Details" asp-route-techId="@item.Id">@item.Id</a>
                    </td>
                    <td>
                        <img src="~/@item.ProfileImage" style="width:50px; height:50px;" />
                    </td>
                    <td>@item.UserName</td>
                    <td>@item.Phone</td>
                    <td>@item.Salary.ToString("C")</td>
                    <td>@item.JoinDate.ToString("MM/dd/yyyy")</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Service" asp-action="TechnicianServices" asp-route-techId="@item.Id" class="dropdown-item"><i class="icon-floppy-disks"></i> Services</a>
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="Request" asp-action="TechniciansRequests" asp-route-techId="@item.Id" class="dropdown-item"><i class="icon-books"></i> Requests</a>
                    </td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a asp-area="Admin" asp-action="Upsert" asp-route-techId="@item.Id" class="dropdown-item"><i class="icon-pencil5"></i> Edit</a>
                                    <a asp-action="Delete" asp-route-techId="@item.Id" class="dropdown-item"><i class="icon-trash"></i> Remove</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>




<partial name="_DatatableResponsive" />
