@using Munafasa.Models.Tables
@model IEnumerable<ContactUs>
@{
    ViewData["Title"] = "Contacts";
    ViewData["PageSlug"] = "Contact";
    ViewData["Back"] = "/Admin/Dashboard";
}



<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">Contacts</h5>
    </div>



    <table class="table datatable-show-all">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Created At</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var service in Model)
            {
                <tr>
                    <td>@service.Id</td>
                    <td>@service.Name</td>
                    <td>@service.Email</td>
                    <td>@service.Message</td>
                    <td>@service.CreatedAt</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a asp-action="Delete" asp-route-contactId="@service.Id" class="dropdown-item"><i class="icon-trash"></i> Remove</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>




<partial name="_DatatableResponsive" />
